<h2>Products</h2>

<div *ngFor="let product of products">
  <a [title]="product.name+' des:'+product.description">{{product.name}}</a>
  <p *ngIf="product.description">
    DESC : {{product.description}}
  </p>
  <p *ngIf="!product.description">
   
  </p>
  <button (click)="share()">Share</button>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->